.overlay {
     height: 100%;
     width: 100%;
     position: fixed;
     z-index: 1;
     left: 0;
     top: 0;
     background-color: rgb(0,0,0);
     background-color: rgba(0,0,0, 0.9);
     overflow-x: hidden;
     transition: 0.5s;
}
 .overlay-content {
     position: relative;
     top: 25%;
     width: 100%;
     text-align: center;
     margin-top: 30px;
}


 .clearfix:after {
     content: " ";
     visibility: hidden;
     display: block;
     height: 0;
     clear: both;
}
 #first, #second{
     box-sizing: border-box;
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
}
 #wrapper {
     width: 500px;
     border: 1px s;
}
 #first {
     display: flex;
     flex-flow: column;
     align-items: center;
     border: 1px;
     float:left;
     width:50%;
}
 .assessment-btn-container {
     width: 70%;
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
     grid-column-gap: 6px;
     grid-row-gap:6px;
}
 #second {
     border: 1px;
     float:left;
     width:50%;
}
 .announcement {
     display: inline-block;
     height: 100%;
     text-align: center;
     width: 100%;
     background: black;
     color: white;
     font-family: Arial, sans;
     margin: 0;
     padding: 0;
     vertical-align: middle;
     font-size: 0.8em;
}
 .announcement a {
     color: #ccc;
}
 .announcement a:hover {
     color: red;
}
 .center {
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 50%;
}
 body {
     background: url('../background.webp') no-repeat center fixed;
     background-size: cover;
}
 button {
     color: #ffffff;
     transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
     background-color: #2d63c8;
     font-size: 19px;
     border: 1px solid black;
     padding: 15px 50px;
     cursor: pointer;
     border-radius: 10px;
     border-bottom: 5px solid #132c5a;
}

::selection {
    background-color: transparent;
}


 button:hover {
     color: #2d63c8;
     background-color: #ffffff;
}
 button:active {
     transition-duration: 0s;
     border-bottom: 1px transparent;
     margin-top: 18px;
}
 .redbutton {
     color: #ffffff;
     background-color: #c82d2d;
     font-size: 19px;
     border: 1px transparent #c82d2d;
     padding: 15px 50px;
     cursor: pointer;
     border-bottom: 5px solid #7f1d1e;
}
 .redbutton:hover {
     color: #c82d2d;
     background-color: #ffffff;
}
 .redbutton:active {
     transition-duration: 0s;
     border-bottom: 1px transparent;
     margin-top: 8px;
}
 .goldbutton {
     background-color: #CCA43D;
     border: 1px transparent #CCA43D;
     border-bottom: 5px solid #5e4c1c;
}
 .goldbutton:hover {
     color: #CCA43D;
     background-color: #ffffff;
}
 .redbutton:active {
     transition-duration: 0s;
     border-bottom: 1px transparent;
     margin-top: 20px;
}
 .title {
     font-family: "Arial Black", Gadget, sans-serif;
     font-size: 35px;
     letter-spacing: 0px;
     word-spacing: 0px;
     color: #000000;
     font-weight: 400;
     text-decoration: underline solid rgb(68, 68, 68);
     font-style: normal;
     font-variant: normal;
     text-transform: none;
}
 .zoom {
     transform: scale(2);
}
 .btn-container {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
     grid-column-gap: 6px;
     grid-row-gap:6px;
}
 .btn-container > * {
     flex: 1 1 100px;
     margin: 3% 2%;
}
 #assesmentprep-title {
     text-decoration: none;
}

.title {
    cursor: default;
}
